{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Колесо удачи</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <fieldset class="ui-wheel-of-fortune">
            <div class="ticker"></div> <!-- Язычок -->
            <ul>
                <li>5%</li>
                <li>0%</li>
                <li>10%</li>
                <li>0%</li>
                <li>15%</li>
                <li>0%</li>
                <li>20%</li>
                <li>0%</li>
                <li>25%</li>
                <li>0%</li>
                <li>30%</li>
                <li>0%</li>
            </ul>
            <button type="button">Spin</button>
        </fieldset>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
