{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Колесо удачи</title>
</head>
<body>
    <div class="wheel-container">
        <fieldset class="ui-wheel-of-fortune">
            <ul>
                <li>Скидка 5%</li>
                <li>Скидка 10%</li>
                <li>Скидка 15%</li>
                <li>Скидка 20%</li>
                <li>Скидка 25%</li>
                <li>Скидка 30%</li>
                <li>Скидка 35%</li>
                <li>Скидка 40%</li>
                <li>Скидка 45%</li>
                <li>Скидка 50%</li>
                <li>Скидка 60%</li>
                <li>Скидка 70%</li>
            </ul>
            <button type="button" id="spinButton">Испытай удачу</button>
        </fieldset>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="% static 'js/script.js' %"></script>
</body>
</html>

